<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My AngularJS App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="app/app.css">   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="app/bower_components/angular/angular.js"></script>
        <script src="app/bower_components/angular-route/angular-route.js"></script>
        <script src='app/bower_components/angular-animate/angular-animate.min.js'></script>
        <script src="app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/viewHome/viewHome.js"></script>
        <script src="app/viewCompInfo/viewCompInfo.js"></script>
        <script src="app/viewAllUsers/viewAllUsers.js"></script>
        <script src="app/viewDocumentation/viewDocumentation.js"></script>
        <script src="app/viewExchange/viewExchange.js"></script>
        <script src="app/viewLoginSection/viewLoginSection.js"></script>
        <script src="app/viewCreateUser/viewCreateUser.js" ></script>
        <script src="app/components/authentication.js"></script>
        <script src="app/components/filters.js"></script>
        <script src="app/components/directives.js"></script>
        <script src="app/components/factories.js"></script>
        <script src="app/components/services.js"></script>
    </head>
    <body ng-app="myApp">
        <div class="container"  >
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="AppLoginCtrl">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">{{title}}</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#/viewHome">Home</a></li>
                            <li><a href="#/viewDocumentation">Documentation</a></li>
                            <li><a href="#/viewCompInfo" ng-show="isUser">Company Info</a></li>
                            <li><a href="#/viewExchange" ng-show="isUser">Exchange Rate Info</a></li>
                            <li><a href="#/viewAllUsers" ng-show="isAdmin">All Users</a></li>
                            <!--<li><a href="#/viewLoginSection">Login Section</a></li>-->
                            <li><a href="#/viewCreateUser" ng-show="!isAuthenticated">Create User</a></li>
                        </ul>
                        <div class="col-md-4">
                            <!-- Button trigger modal -->
                            <button type="button" ng-show="!isAuthenticated" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                Log in to site!
                            </button>
                            <button type="button" ng-show="isAuthenticated" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                Log out!
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Provide your username and password.</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="navbar-form" role="form" ng-show="!isAuthenticated">
                                            <div class="form-group">
                                                <input type="text" style="width:10em;" placeholder="User name" class="form-control"
                                                       ng-model="user.username">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" style="width:10em;" placeholder="Password" class="form-control"
                                                       ng-model="user.password">
                                            </div>
                                            <button type="button" ng-click="login()" data-dismiss="modal" class="btn btn-success">Sign in</button>
                                        </form>
                                        <div class="navbar-form" ng-show="isAuthenticated">
                                            <p class="navbar-text">Logged on as: {{username}}</p>
                                            <button type="button" class="btn btn-primary navbar-btn"  data-dismiss="modal" ng-click="logout()">Logout
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div style="margin-top: 60px;">
                    <hr style="background: lightblue; border:0; height:15px" />
                    <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
                    <div ng-view></div>
                </div>
            </div>
        </div>

    </body>
</html>